.card {
    box-shadow: 0 40px 80px 0 rgb(139, 69, 19);
    transition: 0.3s;
    width: 70%;
    border-radius: 50px;
    color: #8b4513;
    font-family: "Times New Roman";
    font-size: xx-large;




}

.card:hover {
    box-shadow: 0 80px 16px 0 rgb(253, 116, 1);

}

img {
    border-radius: 50px 50px 0 0;
}

.container {
    padding: 20px 16px;
}
body{
    background-color: beige;

}
ul.nav{
    float: right;
}